@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 1em;
}

html{height: 100%;}

$hover-color:#6B8E23;
$background-color:#7a7878af;
$typeletter:Comic Sans MS, sans-serif;


@import 'body.style';
@import 'mixin.scss';


a {
    justify-content: center;
    color: #FFE4B5;
    text-decoration: none;
    @include transition(all.6s ease)
    ;

    &:hover {
        color: $hover-color;
        text-decoration: none;
        @include transition(all.6s ease)}
    &:active {color: $hover-color;}
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.left{float: left;}
.right{float: right;}
.clear{clear: both;}

hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid $background-color;
    padding: 0;
}

/* Selection Block */
::selection {background: $background-color; color: #fff}
::-moz-selection {background: $background-color; color: #fff}

header, footer{
    width: 98%;
    background-color: #222121;
    float: left;
}
header{
    border-bottom: 2px solid silver;
    padding: 1%;
}

#logo {
    font-size: 2em;
    font-family: $typeletter;
}

.contact{
    font-size: 1.5em;
    font-family: $typeletter;
    margin-left: 20px;
}
input[type=text].field{
    border-radius: 3px;
    border: 2px solid $background-color;
    padding: 5px;
    margin-left: 20px;

    :focus{border: 2px solid #bb6b6f}}


#menu {
    color: rgb(197, 197, 197);
    font-family: $typeletter ;
    font-size: 1.7em;
    text-align:center;
    hr{
    width: 50%;
    margin-left: 25%;
    @include menu(10px);
}}


#menuHrefs a {
    width: 100%;
    display:flex;
    font-size: 1.5em;
    white-space: nowrap;
    border-radius: 3px;
    margin-right: 3px;
    line-height: 1.5em;
    text-align:center;
    :hover{
    background-color: #474244;}}
/* Основные стили для сайта */
#wrapper{
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align:center;
}
#wrapper #articles {
    float: left;
    width: 80%;
    margin-left: 10%;
    h2{
    width: 100%;
    font-weight: normal;
    font-size: 1.7em;
    color: #e9e8e8;
    margin-top: 30px;
    margin-bottom: 30px;}
    article{
    float: left;
    border: 1px solid rgb(87, 83, 83);
    box-sizing: border-box;
    border-radius: 3px;
    color: #fafafa;}}

@media (min-width: 1024px){
#wrapper #articles article{
    width: 31.3%;
    margin-right: 2%;
}}

@media (max-width: 1023px) and (min-width: 768px){
    #wrapper #articles article{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 10px;
    }}

@media (max-width: 767px){
    #logo {
        display: block;
        margin:0 auto;
        padding-bottom: 15px;
        text-align: center;
    }
    .contact {
        display: block;
         margin: 0 auto;
          text-align: center;
         padding-bottom: 10px;
    }
    input[type=text].field {
        display: block;
        width: 90%;
         margin: 0 auto;
         margin-bottom: 10px;
    }
    .right {
        float: none;
    }
}
#wrapper #articles article{
    width: 100%;
    margin-bottom: 10px;
    img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgb(87, 83, 83);
    margin-bottom: 5px;}
    h2{
    width: 100%;
    font-weight: normal;
    font-size: 1.7em;
    color: #dad871;}
    p{
    width: 100%;
    color: #d4d4d4; }
}


#wrapper #articles article a{
    display: inline-block;
    background-color: #4d483eda;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px 20px;
    @include margin(20px);
    &:hover{background-color: #dad871;color: black;}}

.image {
    display: block;
    overflow: hidden;
}

@media (min-width:1024px) {
    .image {
        height: 140px;
    }
}

/* Стили для странички о нас */
@import 'about.style';

/* Стили для странички обратная связь */
@import 'feedback.style';

/* Центральный блок сайта */

#main_soc_block {
    width: 100%;
    padding: 20% 0;
    border-bottom: 2px solid rgb(71, 71, 71);
    border-top: 2px solid rgb(71, 71, 71);
    margin: 30px 0;
    float: left;
    background: url('../img/background.jpg') repeat-x center 0;
    height: 250px;}

#main_soc_block_in {
    text-align: center;
    font-size: 1.5em;
    padding: 10%;
    min-height: 100px;
    background-color: #222121;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 3px;
    a{
    padding: 10px 30px;
    background-color: #4d483eda;
    border-radius: 5px;
    margin-top: 40px;}
    p {
    margin-bottom: 30px;}}
    

/* Стили для футера */

footer{
    border-top: 2px solid silver;
    margin-top: 10px;
    padding: 1%;
    margin-bottom: 2%;
} 


#page-wrap:after{
    content: "";
    display: block;
}

footer #page-wrap::after {height: 10px;}

#page-wrap{
    min-height: 94%;
    margin-bottom: -10px;
}
